.info-left-column {
  width: 45%;
  float: left;
}

.info-right-column {
  width: 55%;
  float: left;
}

#info-cart {
  border-radius: 0.5em;
  float: left;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

#customer-checkout-button {
  margin-top: 15px;
  margin:10px;
  width: 70%;
  color: #492277;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: flex-end;
}

#customer-checkout-button:hover {
  background-color: #e5e3f2;
  cursor: pointer;
}

#info-checkout {
  border-radius: 0.5em;
  float: left;
  padding: 20px;
  margin: 0 auto;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #492277;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-form {
  width: 80%;
  padding: 40px;
  border-radius: 0.4em;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.customer-input-container {
  margin-bottom: 30px;
}
